/*
  Kap Site Styling
  ----------------
*/

/* Import Reset */
@import "eightpoint/dist/eight.min";

/* Inter UI Font */
@font-face {
    font-family: 'Inter UI';
    font-weight: 400;
    src: url('./fonts/interui/Inter-UI-Regular.woff2') format('woff2')
         url('./fonts/interui/Inter-UI-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Inter UI';
    font-weight: 600;
    src: url('./fonts/interui/Inter-UI-Medium.woff2') format('woff2')
         url('./fonts/interui/Inter-UI-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Inter UI';
    font-weight: 700;
    src: url('./fonts/interui/Inter-UI-Bold.woff2') format('woff2')
         url('./fonts/interui/Inter-UI-Bold.woff') format('woff');
}

/***********
Base styling
************/

/* Colour vars */

$grey-darker:  #222222;
$grey-dark:    #414141;
$grey:         #949494;
$grey-light:   #B8B8B8;
$grey-lighter: #CCCCCC;
$neon-mint:    #00CCA3;
$blue:         #3F69C2;
$purple:       #8F08FD;
$neon-purple:  #7146FE;

body {
  color: $grey-darker;
  background: white;
  font-size: 1.2rem;
  font-family: 'Inter UI';
  letter-spacing: -.010em;
}

::-moz-selection {
  background: $neon-purple;
  color: white;
}
::selection {
  background: $neon-purple;
  color: white;
}

img, svg {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  letter-spacing: -0.010em;
}

h1 {
  font-size: 3.2rem;
  line-height: 1.5em;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 2.4rem;
  line-height: 1.333em;
}

h3 {
  font-size: 1.6rem;
  line-height: 1.5em;
}

a {
  color: $grey-lighter;
  text-decoration: none;
  transition: color .12s ease-in-out, text-decoration .12s ease-in-out;
}

a:hover { color: $neon-purple; }
a.link--light { color: $neon-purple; }
a.link--light:hover { text-decoration: underline; }

a.button {
  border-radius: .8rem;
  background: $neon-purple;
  height: 4.8rem;
  padding: 0 1.7rem;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a.button svg, a.button img { padding-right: 1.8rem; }
.is-bold { font-weight: 700; }

a.button--small {
  padding: 0 1rem;
  height: 3rem;
}

/*
  Grid

  @TODO: temporary due to eightpoint changes?
*/
.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 97.4rem;
  display: flex;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  position: relative;
}

.col { flex: 1; }
.col-50 { width: 50%; }


.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Header/Footer */
.header, .footer {
  flex: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  position: relative;
}

/* HEADER */
.site-header {
  display: flex;
  align-items: center;
  height: 96px;
}

.logo { line-height: 0; }

.nav-links {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.nav-links a:first-child {
  color: $neon-purple;
  font-weight: 600;
}

.nav-links .button {
  margin-left: 2rem;
}

.status {
  margin-left: auto;
  border-radius: 4px;
  height: 3.2rem;
  display: flex;
  align-items: center;
  font-weight: 700;
  color: $grey-dark;
  background: white;
}

.status span { margin: 0 0.4rem; }
.status span:last-child { margin-right: 0.8rem; }

.status__tag {
  height: 2em;
  line-height: 2em;
  background: $neon-mint;
  border-radius: .4rem;
  color: white;
  padding: 0 0.8rem;
}

/* FOOTER */
.footer {
  background: white;
}

.footer__marketing {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 6.2rem;
  position: relative;
  z-index: 1;
  flex: 0 0 auto;
}

.footer__marketing h3 {
  max-width: 50rem;
  padding-bottom: 3.8rem;
  margin-right: 350px;
}

.footer__marketing-details {
  display: flex;
  margin-top: 2rem;
}

.footer__marketing-details a {
  margin-right: 2.5rem;
  margin-bottom: 8px;
}

.footer__marketing-details span {
  color: $grey;
}

.footer__marketing-features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 3.5rem;
  max-width: 350px;
}

.footer__marketing-features li {
  border: 2px solid $purple;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  line-height: 74px;
  text-align: center;
}

.footer__marketing-features li:nth-child(2) svg {
  transform: scale(1.5);
}

.footer__brand {
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  align-items: center;
}

.footer__brand img { margin-right: 1.7rem; }
.footer__brand a {
  line-height: 0;
  font-weight: 600;
  color: #919191;
}
.footer__brand a:hover { color: $neon-purple; }
.footer__brand p { color: #919191; }

.footer__brand > a:last-child { margin-left: 25px; }




/* Hero */
.hero {

}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.hero h2 {
  margin-bottom: 3.4rem;
}

.hero__button {
  position: relative;
  z-index: 2;
  transition: transform .12s ease-in-out, color .12s ease-in-out;
  background: $neon-purple;
}

/* Explicitly state height for firefox */
.hero__button img { height: 1.7rem }

.hero__button:hover {
  transform: scale(1.1);
  background: $neon-purple;
}

.hero__image {
  position: relative;
}

.hero__image picture {
  width: 384px;
  height: 252px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.hero__image img {
  position: relative;
}

.hero__image picture::before,
.hero__image::after,
.hero__image::before {
  content: '';
  display: block;
  position: absolute;
  border-radius: 50%;
}

.hero__image picture::before {
  width: 32px;
  height: 32px;
  background-color: #FFD500;
  top: -32px;
  left: 50%;
  margin-left: -16px;
}

.hero__image::before {
  width: 160px;
  height: 160px;
  background-color: $neon-purple;
  left: 0;
  bottom: 0;
}

.hero__image::after {
  width: 96px;
  height: 96px;
  background-color: #00FFBE;
  right: 0;
  top: 0;
}

/* Responsive */

@media screen and (max-width: 352px) {
  .hero__image {
    padding: 0 16px;
  }

  .hero__image picture,
  .hero__image img {
    width: 100%;
  }

  .footer__marketing-features li {
    width: 50px;
    height: 50px;
    line-height: 60px;
  }

  .footer__marketing-features svg {
    transform: scale(0.8);
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2.4rem;
    line-height: 3.6rem;
    letter-spacing: -.024rem;
  }
  /* temporary fix for reset */
  :-webkit-any(article,aside,nav,section) :-webkit-any(article,aside,nav,section) h1, :-webkit-any(article,aside,nav,section) h1 {
    font-size: 2.4rem;
  }
  .wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .container {
    text-align: center;
    width: auto;
  }
  .col-50 {
    width: 100%;
  }

  .header { justify-content: flex-start; }
  .footer {
    margin-top: 5rem;
  }

  .site-header { width: 100%; }

  .hero {
    flex-direction: column;
    margin-top: 5rem;
  }

  .hero h2 {
    margin-bottom: 5rem;
  }

  .hero__image {
    height: 300px;
    max-width: 500px;
    margin: 6rem auto 0;
  }

  .hero__content {
    align-items: center;
  }

  .footer__marketing {
    margin-right: auto;
    align-items: center;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 3.6rem;
  }

  .footer__marketing h3 {
    margin-right: 0;
    padding-bottom: 3.2rem;
  }

  .footer__marketing-details {
    flex-direction: column;
    justify-content: center;
  }

  .footer__marketing-details a {
    margin-right: 0;
    line-height: normal;
  }

  .footer__brand {
    flex-direction: column;
    margin-bottom: 3rem;
  }
  .footer__brand-logo { margin-bottom: 1.6rem; }
  .footer__brand-logo img { margin: 0; }

  .footer__brand > a:last-child {
    margin-left: 0;
    margin-top: 16px;
  }
}
